*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #f0f5ff;
}
.my{
    width: 700px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(239, 240, 244);
    color: 1px solid black;
    border: 0;
}
.first{
   justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: white;
    height: 90px;
    

}

.second{
    display: flex;
    align-items: center;
}
.third{
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    display: flex;
}
.fourth{
    text-align: center;
}
